<?xml version='1.0' encoding='utf-8'?>
<widget id="io.anyline.examples.cordova" version="5.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Anyline Cordova Example</name>
    <preference name="deployment-target" value="8.0" />
    <preference name="Orientation" value="portrait" />
    <preference name="windows-target-version" value="10.0" />
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/ic_launcher.png" />
</widget>
