<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALBuildIdentifier</key>
	<string>105211092017_3.16.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.15.0</string>
	<key>CFBundleVersion</key>
	<string>1341</string>
	<key>GITHash</key>
	<string>de39568eefc41be5636b611b3e3997b4f11d1def</string>
</dict>
</plist>
