<?xml version="1.0" encoding="UTF-8"?>
<plugin
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="io-anyline-cordova"
        version="25.0.0">

    <name>AnylineSDK</name>

    <!--Add Platform specific Files-->
    <platform name="ios">
	
		<js-module src="www/anyline.js" name="anyline">
			<clobbers target="window.Anyline" />
		</js-module>
	
        <plugins-plist key="AnylineSDK" string="AnylineSDKPlugin"/>
        <!-- feature tag in config.xml -->
        <config-file parent="/widget" target="config.xml">
            <feature name="AnylineSDK">
                <param name="ios-package" value="AnylineSDKPlugin"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Allow Anyline to access your camera?</string>
        </config-file>

        <!-- Anyline SDK Cordova Plugin Source for iOS -->
        <header-file src="src/ios/AnylineSDKPlugin.h"/>
        <source-file src="src/ios/AnylineSDKPlugin.m"/>
        <header-file src="src/ios/ALPluginHelper.h"/>
        <source-file src="src/ios/ALPluginHelper.m"/>
        <header-file src="src/ios/ALPluginScanViewController.h"/>
        <source-file src="src/ios/ALPluginScanViewController.m"/>
        <header-file src="src/ios/ALRoundedView.h"/>
        <source-file src="src/ios/ALRoundedView.m"/>
        <header-file src="src/ios/ALCordovaUIConfiguration.h"/>
        <source-file src="src/ios/ALCordovaUIConfiguration.m"/>
        <header-file src="src/ios/ALNFCScanViewController.h"/>
        <source-file src="src/ios/ALNFCScanViewController.m"/>
        
        <!-- Anyline Framework & Resource Bundle locally -->
        <!-- <framework custom="true" src="src/ios/anyline_sdk/Anyline.framework"/>-->
        <!-- <resource-file src="src/ios/anyline_sdk/AnylineResources.bundle"/>-->

        <!-- Anyline Framework & Resource Bundle CocoaPods -->
        <framework src="Anyline" type="podspec" swift-version="4.2" spec="~> 25"/>

        <!-- <podspec>
            <config>
                <source url="https://github.com/Anyline/anyline-ocr-examples-ios.git" />
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Anyline" type="podspec" spec="~> 17" />
            </pods>
        </podspec> -->


        <!-- Frameworks needed by Anyline SDK for iOS -->
        <framework src="libz.tbd"/>
        <framework src="libc++.tbd"/>
        <framework src="AssetsLibrary.framework"/>
        <framework src="Accelerate.framework"/>

    </platform>
    <platform name="android">
	
		<js-module src="www/anyline.js" name="anyline">
			<clobbers target="window.Anyline" />
		</js-module>
	
        <!-- register plugin -->
        <framework custom="true" src="src/android/anyline.gradle" type="gradleReference"/>

        <config-file parent="/*" target="config.xml">
            <feature name="AnylineSDK">
                <param name="android-package" value="io.anyline.cordova.AnylinePlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <!-- add permissions in AndroidManifest.xml file-->
        <config-file mode="merge" parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>
        <config-file mode="merge" parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data
                    android:name="com.google.android.gms.vision.DEPENDENCIES"
                    android:value="barcode"/>
        </config-file>
        <config-file mode="merge" parent="/manifest/application" target="AndroidManifest.xml">
	    <activity android:name="io.anyline.cordova.Document4Activity"
                      android:theme="@android:style/Theme.Black.NoTitleBar" />
	    <activity android:name="io.anyline.cordova.Anyline4Activity"
                      android:theme="@android:style/Theme.Black.NoTitleBar" />
	    <activity android:name="io.anyline.cordova.CropViewUIActivity"
                      android:theme="@android:style/Theme.Black.NoTitleBar" />
	    <activity android:name="io.anyline.cordova.DocumentScanViewUIActivity"
                      android:theme="@android:style/Theme.Black.NoTitleBar" />
	    <activity android:name="io.anyline.cordova.DocScanUIMainActivity"
                      android:theme="@android:style/Theme.Black.NoTitleBar" />
        </config-file>

        <!-- add plugin source code -->
	    <source-file src="src/android/io/anyline/cordova/Anyline4Activity.java" target-dir="src/io/anyline/cordova"/>        
	    <source-file src="src/android/io/anyline/cordova/AnylineBaseActivity.java" target-dir="src/io/anyline/cordova"/>
        <source-file src="src/android/io/anyline/cordova/AnylinePlugin.java" target-dir="src/io/anyline/cordova"/>
	    <source-file src="src/android/io/anyline/cordova/AnylinePluginHelper.java" target-dir="src/io/anyline/cordova"/>
        <source-file src="src/android/io/anyline/cordova/Document4Activity.java" target-dir="src/io/anyline/cordova"/>
        <source-file src="src/android/io/anyline/cordova/CordovaUIConfig.java" target-dir="src/io/anyline/cordova"/>
        <source-file src="src/android/io/anyline/cordova/ResultReporter.java" target-dir="src/io/anyline/cordova"/>
        <source-file src="src/android/io/anyline/cordova/Resources.java" target-dir="src/io/anyline/cordova"/>


        <resource-file src="src/android/res/values/anyline_sdk_plugin_strings.xml"
                       target="res/values/anyline_sdk_plugin_strings.xml"/>
        <resource-file src="src/android/res/values/anyline_sdk_plugin_colors.xml"
                       target="res/values/anyline_sdk_plugin_colors.xml"/>
        <resource-file src="src/android/res/values-de/anyline_sdk_plugin_strings.xml"
                       target="res/values-de/anyline_sdk_plugin_strings.xml"/>
        <resource-file src="src/android/res/layout/activity_scan_document.xml"
                       target="res/layout/activity_scan_document.xml"/>
        <resource-file src="src/android/res/layout/activity_scan_scanview.xml"
                       target="res/layout/activity_scan_scanview.xml"/>
        <resource-file src="src/android/res/drawable/manual_picture.png"
                       target="res/drawable/manual_picture.png"/>
        <resource-file src="src/android/res/drawable/right_arrow.png"
                       target="res/drawable/right_arrow.png"/>

    </platform>

</plugin>
